<!DOCTYPE html>
<html>
<head>
    <title>Agrani Bank Template</title>
    <script type="text/javascript">
        var stringData = '#JSONDATA';
        var receipt = "#RECEIPT";
    </script>
    <script src="../../scripts/agrani/templateScript.js"></script>
    <script src="file:///android_asset/agrani/templateScript.js"></script>
    <meta charset="utf-8" />
</head>
<body>
    <div class="mainTwo">
        <img class="logo" alt="logo" style="display:block; float:none; margin:0 auto;" />
        <table class="commonTwo8">
            <tr>
                <td class="userIdLabel" style=""></td>
                <td class="colon">:</td>
                <td class="userId" style=""></td>
            </tr>
            <tr>
                <td class="agentNameLabel"></td>
                <td class="colon">:</td>
                <td class="agentName"></td>
            </tr>
            <tr>
                <td class="boothAddressLabel"></td>
                <td class="colon">:</td>
                <td class="boothAddress"></td>
            </tr>
        </table>
        <br />
        <table class="commonTwo10">
            <tr>
                <td class="userIdLabel" style=""></td>
                <td class="colon">:</td>
                <td class="userId" style=""></td>
            </tr>
            <tr>
                <td class="agentNameLabel"></td>
                <td class="colon">:</td>
                <td class="agentName"></td>
            </tr>
            <tr>
                <td class="boothAddressLabel"></td>
                <td class="colon">:</td>
                <td class="boothAddress"></td>
            </tr>

        </table>
        <br />
        <table class="commonTwo12">
            <tr>
                <td class="userIdLabel" style=""></td>
                <td class="colon">:</td>
                <td class="userId" style=""></td>
            </tr>
            <tr>
                <td class="agentNameLabel"></td>
                <td class="colon">:</td>
                <td class="agentName"></td>
            </tr>
            <tr>
                <td class="boothAddressLabel"></td>
                <td class="colon">:</td>
                <td class="boothAddress"></td>
            </tr>

        </table>
        <br />
        <table class="commonTwo14">
            <tr>
                <td class="userIdLabel" style=""></td>
                <td class="colon">:</td>
                <td class="userId" style=""></td>
            </tr>
            <tr>
                <td class="agentNameLabel"></td>
                <td class="colon">:</td>
                <td class="agentName"></td>
            </tr>
            <tr>
                <td class="boothAddressLabel"></td>
                <td class="colon">:</td>
                <td class="boothAddress"></td>
            </tr>

        </table>
        <br />
        <table class="commonTwo16">
            <tr>
                <td class="userIdLabel" style=""></td>
                <td class="colon">:</td>
                <td class="userId" style=""></td>
            </tr>
            <tr>
                <td class="agentNameLabel"></td>
                <td class="colon">:</td>
                <td class="agentName"></td>
            </tr>
            <tr>
                <td class="boothAddressLabel"></td>
                <td class="colon">:</td>
                <td class="boothAddress"></td>
            </tr>

        </table>
        <br />
        <table class="commonTwo18">
            <tr>
                <td class="userIdLabel" style=""></td>
                <td class="colon">:</td>
                <td class="userId" style=""></td>
            </tr>
            <tr>
                <td class="agentNameLabel"></td>
                <td class="colon">:</td>
                <td class="agentName"></td>
            </tr>
            <tr>
                <td class="boothAddressLabel"></td>
                <td class="colon">:</td>
                <td class="boothAddress"></td>
            </tr>

        </table>
    </div>
</body>
</html>
