* {
    margin: 0;
    padding: 0;
}

@media print {
    * {
        margin: 0 !important;
        padding: 0 !important;
    }

    .header, .footer, .footerarea {
        display: none;
    }

    html, body {
        overflow: hidden;
        background: #FFF;
        position: relative;
    }
    #tableMiddle {
    margin: 0 auto;
}
    .tdMiddle {
    width: 60%;
}
}

@page {
    size: 8.5in 11in;
    margin: .05in .17in .05in .62in;
}

@font-face {
    font-family: "kalpurush";
    src: url(file:///android_asset/fonts/kalpurush.ttf) format("truetype");
}

body {
    background-color: white;
    font-family: 'Arial Narrow', kalpurush;
    font-size: 11pt;
}

table, th, td {
    /*border: 1px solid black;*/
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}

tr {
    line-height: 10px;
}

#tableMiddle {
    margin: 0 auto;
}

.firstColumn {
    width: 120px;
}

.tdFirst {
    width: 105px;
}

.tdFourth {
    width: 110px;
}

.tdSixth {
    width: 117px;
}


.topLabel {
    font-size: 7pt;
    font-weight: bold;
}

.label {
    font-size: 8pt;
    font-weight: bold;
    height: 12px;
}

.topFieldValue {
    font-size: 6pt;
}

.fieldValue {
    font-size: 7pt;
}

.boldFieldValue {
    font-size: 7pt;
    font-weight:bold;
}
.tblFooter {
    font-size: 7pt;
    vertical-align: bottom;
    margin: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#main {
    width: 7.2in;
    height: 3.0in;
    /*background-color: gray;*/
    position: relative;
}

#agent_banking_logo {
    width: .85in;
    max-height: .40in;
    float: right;
}

#logo {
    width: .85in;
    max-height: .5in;
    float: left;
}

#threeColumnTable {
    float: left;
    width: 100%;
}

.lastColumn {
    width: 143px;
}



.tdMiddle {
    width: 60%;
}

#thirdTable {
    float: left;
    width: 100%;
}

#fourthTable {
    float: left;
    width: 100%;
}

#customerPhoto {
    width: .85in;
    height: .75in;
    float: left;
    padding: 2px 0 5px 2px;
}

#addressDiv {
    float: right;
    font-size: 9px;
    margin: 3px 5px 0 0;
}

.qrCodeImg {
    width: .85in;
    height: .75in;
    float: right;
    vertical-align:top;
    margin: 3px 6px 0 0;
    
}

.trBackground{
        background: lightgrey;
}

.cellPaddingTop{
    padding-top:2px;
   
}
.cellPadding{    
    padding-bottom:1px !important;
}