* {
    margin: 0;
    padding: 0;
}

@media print {
    /** {
        margin: 0 !important;
        padding: 0 !important;
    }*/

    html {
       
        margin: .15in 0in 0in 0in;
    }



    .header, .footer, .footerarea {
        display: none;
    }

    html, body {
        overflow: hidden;
        background: #FFF;
        position: relative;
    }

    #tableMiddle {
        margin: 0 auto;
    }



    .cellPaddingTop {
        padding-top: 1px !important;
        padding-bottom: 2px !important;
    }

    .cellPadding {
        padding-bottom: 1px !important;
    }

    .label {
        padding-left: 2px !important;
    }
}

@page {
    size: 8.5in 11in;
    margin: .05in .17in .05in .62in;
}

@font-face {
    font-family: "kalpurush";
    src: url(file:///android_asset/fonts/kalpurush.ttf) format("truetype");
}

body {
    background-color: white;
    font-family: 'Arial Narrow', kalpurush;
    font-size: 11pt;
}

table, th, td {
    /*border: 1px solid black;*/
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}

tr {
    line-height: 10px;
}

#tableMiddle {
    margin: 0 auto;
}

.firstColumn {
    width: 120px;
}

.tdFirst {
    width: 105px;
}

.tdFourth {
    width: 110px;
}

.tdSixth {
    width: 117px;
}


.topLabel {
    font-size: 7pt;
    font-weight: bold;
}

.label {
    font-size: 8pt;
    font-weight: bold;
    height: 12px;
    padding-left: 2px;
}

.topFieldValue {
    font-size: 6pt;
}

.fieldValue {
    font-size: 7pt;
}

.boldFieldValue {
    font-size: 7pt;
    font-weight: bold;
}

.tblFooter {
    font-size: 6pt;
    vertical-align: bottom;
    margin: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#main {
    width: 7.2in;
    height: 3.0in;
    /*background-color: gray;*/
    position: relative;
}

#agent_banking_logo {
    width: .85in;
    max-height: .40in;
    float: right;
}

#logo {
    width: .64in; /*it was .85in X .50in; now it is .64in X .40 in*/
    height: .4in;
    float: left;
}

#logo {
    width: .85in;
    max-height: .5in;
    float: left;
}

#threeColumnTable {
    float: left;
    width: 100%;
}

.lastColumn {
    width: 143px;
}



.tdMiddle {
    width: 60%;
}

#fourthTable {
    float: left;
    width: 100%;
}

#customerPhoto {
    width: .75in;
    height: .75in;
    float: left;
    padding: 5px 0 5px 2px;
}

#addressDiv {
    float: right;
    font-size: 9px;
    margin: 3px 5px 0 0;
    text-align: right;
}

.qrCodeImg {
    width: .85in;
    height: .75in;
    float: right;
    vertical-align: top;
    margin: 3px 6px 0 0;
}

.trBackground {
    background: lightgrey;
}

.cellPaddingTop {
    padding-top: 2px;
    padding-bottom: 2px;
}

.cellPadding {
    padding-bottom: 1px !important;
}
